# source code
/npx
/src

# modules
/node_modules

# config
/vitest.config.ts
/tsup.config.ts

# editor
/tsconfig.json
/tsconfig.npx.json
/.prettierrc.cjs
/.eslint.config.js
/.vscode

# CI/CD
/.github

# misc
.DS_Store