name: all-pull-request
on: [push]
jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
      - uses: actions/checkout@v6
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm i
      - run: npm run lint
      - run: npm test
      - run: npm run build
